<div ng-include="'components/shell/shell.html'"></div>
<div style="height: 100vh;" layout="row">
    <section class="bg-grey" flex="30" layout="row">
        <div flex></div>
        <div flex="80" style="padding: 20px;" layout="column">
            <div>
                <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" ng-repeat="date in browseBy">
                    <!--                 <md-icon md-svg-icon="{{setting.icon}}"></md-icon> -->
                    <p> {{ date }} </p>
                </md-list-item>
            </div>
            <section>
                <md-toolbar class="md-theme-light">
                    <h2 class="md-toolbar-tools">
                    <span>Categories</span>
               </h2>
                </md-toolbar>
                <div>
                    <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" ng-repeat="category in categories">
                        <p> {{ category }} </p>
                    </md-list-item>
                </div>
            </section>
        </div>
    </section>
    <!-- style="height:600px;" -->
    <section flex="60">
        <md-toolbar md-scroll-shrink ng-if="true" class="md-accent">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Personal</h2>
            </div>
        </md-toolbar>
        <md-card>
            <form>
                <div layout="row">
                    <md-input-container flex="80" style="margin-bottom: 0px; margin-right: 20px;">
                        <label>Your task here</label>
                        <input type="text" ng-model="calendarEvent.description">
                    </md-input-container>
                    <md-input-container flex style="float: right;">
                        <label>Category</label>
                        <md-select ng-model="calendarEvent.category">
                            <md-option value="{{category}}" ng-repeat="category in categories">{{category}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-button class="md-icon-button" aria-label="More" style="float: right; margin-top: 17px;">
                        <md-icon md-svg-icon=" action:alarm "></md-icon>
                    </md-button>
                </div>
                <div layout="row ">
                    <!--                     <md-datepicker flex ng-model="birthday "></md-datepicker>
 -->
                </div>
                <div>
                    <md-button class="md-raised md-primary" ng-click="addCalendarEvent(calendarEvent)">Save</md-button>
                    <md-button>Cancel</md-button>
                </div>
            </form>
        </md-card>
        <md-card>
            <md-list>
                <md-list-item class="md-3-line " ng-repeat="item in calendarEvents ">
                    <!--                     <img ng-src="{{item.face}} " alt="{{item.who}} " class="md-avatar "> -->
                    <md-checkbox></md-checkbox>
                    <div class="md-list-item-text ">
                        <h3>{{item.description}}</h3>
                        <h4>{{item.category}}</h4>
                        <p>
                            {{item.notes}}
                        </p>
                    </div>
                    <md-divider inset></md-divider>
                </md-list-item>
            </md-list>
        </md-card>
    </section>
    <section class="bg-grey " hide show-gt-sm flex>
        [flex]
    </section>
</div>
<!-- <iframe src="https://calendar.google.com/calendar/embed?src=dmelemed3%40gmail.com&ctz=America/New_York " style="border: 0 " width="800 " height="600 " frameborder="0 " scrolling="no "></iframe>
 -->
