.bg-grey {
    background-color: #f2f2f2;
}

ul {
    list-style: none;
}

.side-tab {
    font-size: 6px;
}

md-tab-item {
    padding: 8px 10px;
    height: 30px;
}

md-pagination-wrapper {
    height: 30px;
}

md-tabs-canvas {
    height: 30px;
}

